<section>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="product">
                <header>
                    <div class="title-bar">
                        <span class="title-bar_title">
                            <h1 class="ui-titile-bar_title">
                                Products
                            </h1>
                        </span>
                    </div>
                </header>
                <div class="layout">
                    <div class="layout_section">
                        <div class="layout_item">
                            <div data-context="filterer">
                                <div class="next-tab">
                                    <ul>
                                        <li class="next-tab-a" role="presentation">
                                            <a href="#">All</a>
                                        </li>
                                        <li class="next-tab-a" role="presentation">
                                            <a href="#"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="next-card">
                                    <div class="obj-filter">
                                        <div class="input-wrapper">
                                            <label class="label"></label>
                                            <div class="next-field-wraper">
                                                <button class="ui-button">
                                                    <span class="no-wrap">
                                                        filter
                                                    </span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="products-results" data-tg-refredh="products">
                                <div id="bestbuy" class="table-wrapper">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="select"></th>
                                                <th class="image"></th>
                                                <th class="title">Product</th>
                                                <th class="inventory">Inventory</th>
                                                <th class="product-type">Type</th>
                                                <th class="vendor">SKU</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let offer of this.products.offers"> 
                                                
                                                <td class="select">
                                                       
                                                    <div class="next-input-wrapper">
                                                       
                                                           
                                                    </div>
                                                </td>
                                                <td>
                                                    <a class="aspect-ratio aspect-ratio--square aspect-ratio--square--50 aspect-ratio--interactive" href="/admin/products/8773547410">
                                                        <img title="Acer V193W 19-inch LCD Monitor, 16:10 Aspect Ratio, 1440x900, VGA" class="aspect-ratio__content" src="//cdn.shopify.com/s/files/1/1628/9377/products/side_73df476b-9abc-4a05-924a-65624d3e2b3b_small.jpg?v=1516820269">
                                                    </a>
                                                </td>
                                                <td class="name" >
                                                    <div class="ui-stack ui-stack--wrap">
                                                        <div class="ui-stack-item">

                                                            <a href="/admin/products/8773547410" data-nested-link-target="true"> 
                                                                {{offer.product_title}}
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div></div>
                                                         
                                                </td>
                                                <td class="total">
                                                    <p>
                                                        <span class="highlight-warning" >
                                                           
                                                        </span>
                                                        {{offer.quantity}}
                                                    </p>
                                                </td>
                                                <td class="type">
                                                    <p>{{offer.category_label}}</p>
                                                </td>
                                                <td class="vendor">
                                                    <p>{{offer.shop_sku}}</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                   
                                                </td>
                                            </tr>
                                            <tr>
                                                <td >
                 

                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div id="bb">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>