<section>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="product">
                <header>
                    <div class="title-bar">
                        <span class="title-bar_title">
                            <h1 class="ui-titile-bar_title">
                                Products
                            </h1>
                        </span>
                    </div>
                </header>
                <div class="layout">
                    <div class="layout_section">
                        <div class="layout_item">
                            <div data-context="filterer">
                                <div class="next-tab">
                                    <ul>
                                        <li class="next-tab-a" role="presentation">
                                            <a href="#">All</a>
                                        </li>
                                        <li class="next-tab-a" role="presentation">
                                            <a href="#"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="next-card">
                                    <div class="obj-filter">
                                        <div class="input-wrapper">
                                            <label class="label"></label>
                                            <div class="next-field-wraper">
                                                <button class="ui-button">
                                                    <span class="no-wrap">
                                                        filter
                                                    </span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="products-results" data-tg-refredh="products">
                                <div id="bestbuy" class="table-wrapper">
                                    <table>
                                        <thead>
                                            <tr style="text-align: center;">
                                                <th class="select"></th>
                                                <th class="image"></th>
                                                <th class="title">Product</th>
                                                <th class="inventory">Inventory</th>
                                                <th class="product-type">Type</th>
                                                <th class="vendor">SKU</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let offer of this.productShopify.products"> 
                                                
                                                <td class="select">
                                                </td>
                                                <td class="image">
                                                </td>
                                                <td class="name" >
                                                    <img title={offer.image.alt} class="aspect-ratio__content" style="max-width:10% ;"src={{offer.image.src}}>
                                                    <a href="#" data-nested-link-target="true"> 
                                                        {{offer.title}}
                                                    </a>  
                                                </td>
                                                <td class="total">
                                                    {{offer.variants[0].inventory_quantity}}
                                                </td>
                                                <td class="type">
                                                    {{offer.product_type}}
                                                </td>
                                                <td class="vendor">
                                                    {{offer.variants[0].sku}}
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div id="bb">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>