<!--The content below is only a placeholder and can be replaced.-->
<nav>
        
            <img alt="RefurbIT Logo" src="https://cdn.shopify.com/s/files/1/1628/9377/files/refurbit-refurbished-computers_250x.png?v=1517033287">
        
        <ul>
        <li>
          <a routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a routerLink="/inventory" routerLinkActive="active">Inventory </a>
        </li>
        <li>
          <a routerLink="/promotion" routerLinkActive="active">Promotion</a>
        </li>
        <li>
          <a routerLink="/orders" routerLinkActive="active">Orders</a>
        </li>
        <li>
            <a routerLink="/orders" routerLinkActive="active">Acount</a>
        </li>
      </ul>
</nav>
<header>
  <div class="container-fluid">
  </div>
</header>
<router-outlet></router-outlet>
<section>

</section>
